# Hardhat
cache/
artifacts/

# Node
node_modules/
coverage/
coverage.json

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# Misc
.DS_Store
